body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 148, 3, 0.45);
}

.carta{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 350px;
    border-radius: 17px;
    box-shadow: 10px 5px 5px  rgba(1, 36, 1, 0.158);
}

.carta-top{
    display: flex;
    align-items: flex-start;
    height: 150px;
    font-size: 90px;
    padding-left: 30px
}

p{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.carta-mid{
    display: flex; 
    align-items: center;
    justify-content: center;  
    height: 200px;
    font-size: 100px;
}
.carta-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 150px;
    font-size: 90px;
    padding-right: 30px;
}

.red{
    color: red;
}

.black{
    color: black;
}


.heart::after{ 
    content: "♥";
    color: red;
}
.diamond::after{ 
    content: "♦";
    color: red;
}

.club::after{
    content: "♣";
    color: black;
}
.spades::after{
    content: "♠";
    color: black;
}